# Created by https://www.gitignore.io/api/c,c++,autotools

### Autotools ###
# http://www.gnu.org/software/automake

Makefile.in
/ar-lib
/mdate-sh
/py-compile
/test-driver
/ylwrap

# http://www.gnu.org/software/autoconf

/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

# https://www.gnu.org/software/libtool/

/ltmain.sh

# http://www.gnu.org/software/texinfo

/texinfo.tex

### Autotools Patch ###
/config.log

### C ###
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

### C++ ###
# Prerequisites

# Compiled Object files
*.slo

# Precompiled Headers

# Compiled Dynamic libraries

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai

# Executables

### gRPC ###
*.pb.cc
*.pb.h


### Ecripse ###
.cproject
.project



# End of https://www.gitignore.io/api/c,c++,autotools

# From configure.ac
build-aux/
config.h
config.status
libtool
Makefile
gtest/Makefile
lib/Makefile
src/Makefile
# End of configure.ac

# For Automake
.deps/
.libs/
.dirstamp
gtest/.deps/
*.log
*.trs
/*.tar.gz
# End of Automake

# From lib/Makefile.am
lib/greeting_test
# End of lib/Makefile.am

# From src/Makefile.am
src/greeting
src/greeting_client
src/greeting_server
# End of src/Makefile.am
